@charset "UTF-8";

footer {
background-color: black;
color: white;
height: 100px;
display: flex;
font-weight: bold;
}

footer > a:hover {
cursor: pointer;
text-decoration: none;
text-transform: none;
}

.link {
    color: rgb(54, 134, 253);
    text-decoration: none;
}