@charset "UTF-8";

#section3 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(54, 54, 54);
    text-align: center;
}

#section3 > p {
    padding-top: 50px;
    width: 800px;
    line-height: 0.7cm;
}
